IDENTIFICACAO{

}

body {
	background-color: green;
	color: white;
}

h1{
	color:brown;
	background-color:black;
	


}

head{

}

img{width: 200px;

}
h2{
	background-color: yellow;
	color:gray;

}
.teste {width:30%}

.titulo {font-size:42px}

#teste0 {font-size:40px }